
.phonetic{
display: flex;
  align-items: center;
   justify-content: center;
}

.phonetic-text{
    opacity: 0.6;
    font-weight: bold;
   
    padding: 0 5px;
}
.phonetic .fa-solid{
    color: #333;
}

