.results{
   

}
.result-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
 
}
.results h2 {
  text-align: center;
  color: #333;
  text-transform: capitalize;
  padding: 5px;
  font-size: 32px;
 
}
